body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

.appbar {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  margin: 0;
  border: none;
  box-shadow: none;
}

/* Caixa interna com efeito card */
.appbar-container {
  background-color: white;
  padding: 5px 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  max-width: 1200px;
  border-radius: 56px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); /* manter sombra interna leve */
  pointer-events: auto;
  border: none; /* Evita bordas externas visíveis */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.nav-links a:hover {
  color: #555;
}

.explore-button {
  background-color: #10b981;
  color: white;
  padding: 10px 20px;
  border-radius: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.explore-button:hover {
  background-color: #0e9f6e;
}

.explore-icon {
  display: none;
}

@media (max-width: 1024px) {
  .appbar-container {
    width: 80%;
    padding: 10px 24px;
  }
}

@media (max-width: 768px) {
  .explore-button {
    display: none;
  }

  .nav-links a {
    font-size: 14px;
  }
}
